<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Slocial</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <%- include('partials_nav') %>
    <div class="container tagline">
      <q>I didn't have time to write a short letter.</q> <span class="author">— Mark Twain</span>
    </div>
    <main class="container">
      <%- body %>
    </main>
  </body>
</html>


